/* universal effects */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global color variables */
:root {
    --black: #161616;
    --white: #BEBEBE;
  }

html {
    overflow-x: hidden;
    font-size: 36pt;
    background-color: var(--black);
    color: var(var(--white));
    font-family: 'Almarai', sans-serif;
    font-weight: 300;
}

#canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.large-text {
    font-size: 3em;;
}

.small-text {
    font-size: 1em;
}

.back {
    display:inline-block;
    color: var(--white);
    padding: 2em 0;
    font-size: 0.5em;
}

.icons {
    position: absolute;
    z-index: 10;
    top: 8pt;
    right: 1em;
}

.icons a {
    display: inline-block;
    padding: 0.2em;
}

.icons a img {
    filter: invert(0.6);
    width: 16pt;
}

.icons a img:hover {
    filter: invert(1);
}
/* ends here */

/* home page effects */
.main-title {
    color: #BEBEBE;
    font-size: 2em;
    position: fixed;
    width: 80%;
    left: 4em;
    top: 2em;
}

.main-title:hover {
    color: var(--black);
}

a {
    color: #BEBEBE;
    cursor: pointer;
}

a:hover {
    color: white;
}
/* ends here */


/* bio page effects */
.bio-page{
    font-size: 24pt;
}

.info {
    padding: 3em 0;
    height: 60vh;
    color: var(--white);
    overflow: hidden;
    font-size: 0.8em;
}

.strikethrough {
    text-decoration: line-through;
}

.sentences {
    margin-left: 1.6em;
}

.sentences p {
    padding: 0.2em 0;
}


.info:nth-child(3) p:nth-child(4){
    opacity: 75%;
}

.info:nth-child(3) p:nth-child(5){
    opacity: 50%;
}

.info:nth-child(3) p:nth-child(6){
    opacity: 25%;
}

.info:nth-child(3) p:nth-child(7){
    opacity: 15%;
}

.info:nth-child(3) p:nth-child(8){
    opacity: 15%;
}

.tech {
    margin-top: 0.5em;
}

.tech span{
    font-size: 0.8em;
    margin-right: 0.5em;
    padding: 0.2em 0.5em;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 1em;
}

/* ends here */


/* design page effects */
.header {
    color: var(--white);
    font-size: 0.8em;
    padding: 3em 0;
    line-height: 3em;
}

.header .small-text {
    line-height: 1.5em;;
}

.posts {
    color: var(--white);
    font-size: 0.5em;
    margin-bottom: 6em;
}

.post {
    width: 100%;
    padding: 12em 0;
}

.post h1 {
    width: 80%;
    display: inline;
    text-decoration: underline;
}

.post h1:hover {
    cursor: pointer;
    color: white;
}

.post p {
    width: 50%;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease;
    cursor: pointer;
    z-index: 10;
}

.overlay img {
    cursor:default;
    max-width: 80%;
    max-height: 80%;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}
/* ends here */



@media only screen and (max-width: 1700px) {
    .sentences p {
        font-size: 0.8rem;
    }
    
  }


@media only screen and (max-width: 1200px) {
    html {
        font-size: 20pt;
        overflow-x: hidden;
    }

    .main-title {
        width: 80%;
        position: static;
        margin: 1em auto;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .info {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .post h2 {
        line-height: 1.2em;
    }

    .post a {
        display: inline-block;
        padding: 0.2em 0;
    }

    .icons a img {
        width: 12pt;
    }
    
  }

  /* galaxy fold */
  @media only screen and (max-width: 280px) {
    html {
        font-size: 14pt;
        overflow-x: hidden;
    }

    .main-title {
        width: 80%;
        position: static;
        margin: 1em auto;
    }
  }